<h1>User Details</h1>



<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= gravatar_for @user, size: 200 %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @user.username %></h5>
        <p class="card-text"><strong>email: </strong><%= @user.email %></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>