<div class="card p-3 mb-3">
  <h4 class="card-title ">Savings</h4>

  <table class="table table-striped">
    <%= render "home/tables_head"%>
    <tbody>
      <% @accounts.each do |account| %>
      <tr>
        <th scope="row"><%= account.name %></th>
        <% for i in 1..6 do %>
        <td><%= account.balance %></td>
        <% end %>
      </tr>
      <% end %>
      <tr>
        <th scope="row">Total Savings</th>
        <% for i in 1..6 do %>
        <td><%= @accounts.sum("balance") %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>