<% flash.each do |name, msg| %>
<% if name === "alert" %>
<% alert_class = "alert-danger" %>
<% elsif name === "notice" %>
<% alert_class = "alert-success" %>
<% end %>
<div class="alert <%= alert_class %> alert-dismissible fade show" role="alert">
  <%= msg %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>